summary {
    & h2 {
        margin-top: -1.35rem;
        margin-left: 1.5rem;
    }
    & h3 {
        margin-top: -1.25rem;
        margin-left: 1.5rem;
    }
}

details details {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    & table {
        width: 100%;
        & thead {
            font-size: large;
            & th {
               border-bottom: 1px solid grey;
               &:last-child{
                   min-width: 88px !important;
               }
               &:nth-child(2){
                   min-width: 55px !important;
               }
            }
        }
        & tbody tr:nth-child(odd) {
            background-color: var(--main-background);
        }
        & td {
            padding-block: 0.125rem;
        }
    }
}

@media (max-width: 768px) {
    .abbreviate {
        &.chapter {
            font-size: 0;
            &::before {
                font-size: large;
                content: 'Ch.';
            }
        }
        &.place {
            font-size: 0;
            &::before {
                font-size: large;
                content: 'Pl.';
            }
        }
    }
}