summary {
    cursor: pointer;
    & h3 {
        margin-top: -1.25rem;
        margin-left: 1.5rem;
    }
}
details {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
table {
    width: 100%;
    & thead {
        font-size: large;
        & th {
            border-bottom: 1px solid grey;
        }
    }
    & tbody tr:nth-child(odd) {
        background-color: var(--main-background);
    }
    & td {
        padding: 0.125rem;
        padding-inline:0.25rem;
    }
}
