footer {
    background-color: var(--primary-colour);
}

.footer-header {
    & p {
        padding: 0.25rem;
        margin: 0 auto;
        text-align: center;
        font-size: large;
    }
}

.footer-content {
    background-color: var(--primary-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
.footer-logo {
    & img {
        margin: 1rem auto;
    }
}
.footer-links {
    text-align: center;
    & h3 {
        color: var(--major-dark);
        margin: 1rem auto 0.5rem;
        border-bottom: 1px solid var(--major-dark);
    }
    & a {
        color: var(--major-dark);
        padding: 0 1rem;
        &:hover {
            color: var(--secondary-dark);
        }
        &:visited {
            color: var(--major-dark);
        }
    }
}
.footer-footer {
    background-color: var(--major-dark);
    color: var(--major-light);
    & p {
        font-size: smaller;
        margin: 0 auto;
        text-align: center;
    }
}

@media  (max-width: 768px) {
    .footer-links a {
        display: block;
        margin: auto;
    }
}