.story-navigation {
    display:flex;
    justify-content: space-between;
    padding: 0 15%;
    background-color: var(--bar-background);
    font-size: larger;
    font-weight: bolder;
    & a {
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        color: var(--bar-link);
        &:visited {
            color: var(--bar-link);
        }
        &:hover {
            color: var(--bar-link-hover);
        }
    }
    & span {
        padding: 0.5rem 1.5rem;
        &:has(a) {
            padding-inline: 0;
        }
    }
}
.story-navigation.bottom {
    & span {
        padding: 0.25rem 1rem;
    }
    & a {
        padding: 0.25rem 1rem;
        font-size: medium;
    }
}