.story-navigation {
    display:flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: var(--bar-background);
    font-size: larger;
    font-weight: bolder;

    & a {
        cursor: pointer;
        padding: 0.5rem 2rem;
        text-decoration: none;
        color: var(--bar-link);
        &:visited {
            color: var(--bar-link);
        }
        &:hover {
            color: var(--bar-link-hover);
        }
    }
}
.story-navigation.bottom a {
    padding: 0.25rem 1rem;
    font-size: medium;
}