---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';
---
<BaseLayout>
	<PageLayout title="about" meta={{ description: "Learn more about the Thorns project and its creator, Terra." }}>
		<h1>About</h1>
		<p>Welcome to the about page!</p>
	</PageLayout>
</BaseLayout>
