---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<BaseLayout title="Contact" meta="Get in touch with the author of A Tale of Thorns.">
	<PageLayout>
		<h1>Contact</h1>
		<p>Welcome to the contact page!</p>
		
	</PageLayout>
</BaseLayout>
