---
import '../styles/footer.css';
---

<footer>
  <div class="footer-header"><p>And the paths, like vines, stretched onward before her once again ...</p></div>
  <div class="footer-content">
    <div class="footer-logo">
      <img height="50px" src="/vectors/Rose.svg" alt="A Tale of Thorns">
    </div>
    <div class="footer-links">
      <h3>Links!</h3>
      <div>
          <a href="https://birbles.com/">Birbles Art</a>
          <a href="https://questionablecontent.net/">Questionable Content</a>
          <a href="https://xkcd.com/">XKCD Comics</a>
          <a href="https://smbc-comics.com/">SMBC Comics</a>
      </div>
    </div>
  </div>
  <div class="footer-footer">
    <p><em>A Tale of Thorns</em> and all its various properties were created by Terra Macdonald, the author.</p>
    <p>Thus, all content found on this subdomain copyrighted &copy; Terra Macdonald 2025 &ndash; {new Date().getFullYear()}. All rights reserved.</p>
    <p>Contact <a href="mailto:terra@fruitfolio.com">terra@fruitfolio.com</a> for licensing inquiries.</p>
  </div>
</footer>
