---

---

<footer>
  <div class="footer-header"><p>And the paths, like vines, stretched onward before her once again ...</p></div>
  <div class="footer-content">
    <div class="footer-logo"></div>
    <div class="footer-links"></div>
  </div>
  <div class="footer-footer">
    <p><em>A Tale of Thorns</em> and all its various properties were created by Terra Macdonald, the author.</p>
    <p>Thus, all content found on this subdomain copyrighted &copy; Terra Macdonald 2025 &ndash; {new Date().getFullYear()}. All rights reserved.</p>
    <p>Contact <a href="mailto:terra@fruitfolio.com">terra@fruitfolio.com</a> for licensing inquiries.</p>
  </div>
</footer>